@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Common Style */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 45px;
    border: 0;
}

.color-primary {
    color: #E55473;
}

/* Header/Banner Section Style */
header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 230px;
}

.banner-info {
    max-width: 700px;
}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 35px;
}

.banner-img {
    margin-top: 50px;
}

/* Advertisement Section Style */
.ad-container {
    display: flex;
    gap: 185px;
    padding: 100px 400px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
    align-items: center;
}

.ad-info {
    max-width: 600px;
    text-align: center;
}

.ad-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.ad-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* Instagram Section Style */
.instagram {
    margin: 130px 240px;
    text-align: center;
}

.insta-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.insta-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    max-width: 600px;
    margin: 25px auto 50px;
}

.insta-pictures {
    display: flex;
    justify-content: space-between;
}

/* Subscription Section Style */
.subscription {
    max-width: 1440px;
    height: 450px;
    border-radius: 8px;
    background: url('../images/Rectangle_9.png');
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscription-container {
    text-align: center;
}

.subscription-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.subscription-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 50px;
}

.subscription-email {
    width: 700px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 25px;
    border: 0;
    margin-right: 15px;
}